@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */


body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* In your custom CSS */
@layer components {
  .btn {
    @apply p-3 text-white text-sm rounded-2xl
  }
  [class='light'] .btn {
    @apply bg-brand_purple hover:bg-brand_purple_hover active:bg-brand_purple_active;
  }
  [class='dark'] .btn {
    @apply bg-brand_green hover:bg-brand_blue;
  }
  
  [class='stars'] .btn {
    @apply bg-brand_red hover:bg-brand_green;
  }
}





/* @layer utilities {
  .bg_primary {
    @apply light:bg-black dark:bg-white stars:bg-red;
  }
} */

