@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */


/* body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

/* This essentially makes scrollbar always visible - fixes content shifting when height bigger */
body {
  overflow-y: scroll;
}
    
    

/* In your custom CSS */
@layer components {
  .btn {
    @apply p-3 text-white text-sm rounded-2xl
  }
  [class='light'] .btn {
    @apply bg-brand_purple hover:bg-brand_purple_hover active:bg-brand_purple_active;
  }
  [class='dark'] .btn {
    @apply bg-brand_purple hover:bg-brand_purple_hover active:bg-brand_purple_active;
  }
  [class='stars'] .btn {
    @apply bg-brand_purple hover:bg-brand_purple_hover active:bg-brand_purple_active;
  }

  [class='light'] .icon-btn {
    @apply fill-black hover:fill-gray-600 active:fill-gray-500;
  }
  [class='dark'] .icon-btn {
    @apply fill-white hover:fill-gray-200 active:fill-gray-300;
  }
  [class='stars'] .icon-btn {
    @apply fill-white hover:fill-gray-200 active:fill-gray-300;
  }

  [class='light'] .nav-btn {
    @apply brand-nav-bg-color hover:bg-[#F5F3FF] active:bg-[#F2EFFF];
  }
  [class='dark'] .nav-btn {
    @apply brand-nav-bg-color hover:bg-gray-900 active:bg-gray-800;
  }
  [class='stars'] .nav-btn {
    @apply brand-nav-bg-color hover:bg-gray-900 active:bg-gray-800;
  }

  [class='light'] .icon {
    @apply fill-black;
  }
  [class='dark'] .icon {
    @apply fill-white;
  }
  [class='stars'] .icon {
    @apply fill-white;
  }

  [class='light'] .brand-text-color {
    @apply text-black
  }
  [class='dark'] .brand-text-color {
    @apply text-white;
  }
  [class='stars'] .brand-text-color {
    @apply text-white;
  }

  [class='light'] .brand-text-color-secondary {
    @apply text-gray-600;
  }
  [class='dark'] .brand-text-color-secondary {
    @apply text-gray-400;
  }
  [class='stars'] .brand-text-color-secondary {
    @apply text-gray-400;
  }

  [class='light'] .brand-nav-text-color {
    @apply text-gray-500
  }
  [class='dark'] .brand-nav-text-color {
    @apply text-gray-200
  }
  [class='stars'] .brand-nav-text-color {
    @apply text-gray-200
  }

  [class='light'] .brand-nav-bg-color {
    @apply bg-[#FAF9FF];
  }
  [class='dark'] .brand-nav-bg-color {
    @apply bg-gray-950;
  }
  [class='stars'] .brand-nav-bg-color {
    @apply bg-gray-950;
  }

  [class='light'] .brand-bg-color {
    @apply bg-white;
  }
  [class='dark'] .brand-bg-color {
    @apply bg-gray-700;
  }
  [class='stars'] .brand-bg-color {
    @apply bg-none xl:bg-gray-700; /* Uses animated aurora div effect for background */
  }

  [class='light'] .brand-bg-color-secondary {
    @apply bg-slate-300;
  }
  [class='dark'] .brand-bg-color-secondary {
    @apply bg-slate-500;
  }
  [class='stars'] .brand-bg-color-secondary {
    @apply bg-slate-500;
  }

  [class='light'] .brand-border-color {
    @apply border-gray-100;
  }
  [class='dark'] .brand-border-color {
    @apply border-gray-600;
  }
  [class='stars'] .brand-border-color {
    @apply border-teal-400;
  }

  [class='light'] .brand-caption {
    @apply text-sm;
  }
  [class='dark'] .brand-caption {
    @apply text-sm;
  }
  [class='stars'] .brand-caption {
    @apply text-sm;
  }

  [class='light'] .brand-shadow {
    @apply shadow-[0_3px_0_#ddd];
  }
  [class='dark'] .brand-shadow {
    @apply shadow-[0_3px_0_#ddd];
  }
  [class='stars'] .brand-shadow {
    @apply shadow-[0_3px_0_#2DD4BF];
  }

  /* TODO: Update color for line and icon container border below */
    /* The line */
  [class='light'] .vertical-timeline.vertical-timeline-custom-line::before {
    @apply bg-black;
  }
  [class='dark'] .vertical-timeline.vertical-timeline-custom-line::before {
    @apply bg-white;
  }
  [class='stars'] .vertical-timeline.vertical-timeline-custom-line::before {
    @apply bg-[#2DD4BF];
  }

/* Icon container's border */
  [class='light'] .vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #000000, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  [class='dark'] .vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  [class='stars'] .vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #2DD4BF, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }

  .vertical-timeline.vertical-timeline-custom-line {
    margin: 0 0;
  }

  .vertical-timeline-element-title {
    @apply text-2xl font-bold brand-text-color mb-2;
  }

  .vertical-timeline-element-subtitle {
    @apply text-lg mb-4 brand-text-color-secondary;
  }
  
  .vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-date {
    @apply brand-text-color-secondary;
  }

  .vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-content {
    @apply brand-shadow;
  }
  
  /* START AURORA BACKGROUND STYLING */

  @keyframes fly {
    100% {
      transform:rotate(360deg) translate(100px) rotate(-360deg) translate(-100px);
    }
  }
  
  @keyframes flyPlus {
    100% {
      transform:rotate(-1turn) rotate(1turn);
    }
  }
    
  .base {
    position: absolute;
    filter: blur(60px);
    opacity: 0.8;
    visibility: hidden;
    display: none;
  }

  [class='stars'] .base {
    visibility: visible;
    display: block;
  }
  
  .one {
    border-radius: 100%;
    width: 150%;
    height: 150%;
    background-color: #373372;
    left:100px;
    top:-450px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform:rotate(0) translate(120px) rotate(0) translate(-120px);
  }
  
  .two {
    width: 125%;
    height: 200%;
    background-color: #40E0D0;
    bottom:-60px;
    left:-100px;
    z-index: 2;
  }
  
  .three {
    border-radius: 100%;
    width: 112%;
    height: 112%;
    bottom:-88px;
    right:-112px;
    z-index: 2;
    background-color: #00FF00;
    animation: flyPlus 8s linear infinite;
    transform:rotate(0) translate(100px) rotate(0) translate(-100px);
  }

    /* END AURORA BACKGROUND STYLING */

    /* START INPUT FIELD STYLING */
    .inputBox {
      position: relative;
    }

    .inputBox input,
    .inputBox textarea {
      width: 100%;
      padding: 10px;
      /* border: 1px solid rgba(29, 43, 58 0.75); */
      background: #1d2b3a;
      border-radius: 5px;
      outline: none;
      color: #000;
      font-size: 1em;
    }

    .inputBox span {
      position: absolute;
      left: 0;
      padding: 10px;
      pointer-events: none;
      font-size: 1em;
      color: rgba(29, 43, 58, 0.25);
      text-transform: uppercase;
      transition: 0.25s;
      border: none;
    }

    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span,
    .inputBox textarea:valid ~ span,
    .inputBox textarea:focus ~ span {
      color: #1d2b3a;
      transform: translateX(10px) translateY(-7px);
      font-size: 0.65em;
      padding: 0 10px;
      background: #00dfc4;
      border-left: 1px solid #00dfc4;
      border-right: 1px solid #00dfc4;
      border-radius: 2px;
      letter-spacing: 0.2em;
    }

    .inputBox input:valid,
    .inputBox input:focus,
    .inputBox textarea:valid,
    .inputBox textarea:focus
     {
      border: 1px solid #00dfc4;
    }

    /* END INPUT FIELD STYLING */
  
  

  }





/* @layer utilities {
  .bg_primary {
    @apply light:bg-black dark:bg-white stars:bg-red;
  }
} */

